# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# vcpkg manifest installed packages
vcpkg_installed/

# Benchmark outputs
BenchmarkDotNet.Artifacts/

# IDE / editor
.vscode/
.idea/
